.clearfix:after{
  content: " ";
  clear: both;
  display: block;
}
.wrapper{
  width: $fullScreenWidth;
}

.trans{
  @include transition($delay-animation);
}
.container{
  width: $fullScreenWidth;
  max-width: $maxWidth;
  min-width: $minWidth;
  margin: 0 auto;
  padding: 0 15px 0;
}
.leftside{
  float: none;
  position: relative;
  display: table-cell;
  vertical-align: top;
  width: 100%;
}
header{
  width: $fullScreenWidth;
  height: 66px;
  background: $header-bg;
  border-bottom:  2px solid $header-borderBottom;
  position: relative;
  top: 0;
  left: 0;
  z-index: 100;
}
.header__logo{
  width: 130px;
  height: 40px;
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 10;
}
.header__logo_img{
  background: url("../img/Services.svg") 0 0;
  width: $fullScreenWidth;
  height: 40px;
}
.header__search{
  position: relative;
  width: $fullScreenWidth;
  padding: 0 100px 0 161px;
  margin-top: 17px;
}
.header__search__icon{
  &:before{
    position: absolute;
    top: 9px;
    left: 173px;
    content: " ";
    width: 16px;
    height: 16px;
    background: url("../img/Services.svg") -172px -15px;
    display: block;
  }
}
.header__search__input{
  width: $fullScreenWidth;
  height: 34px;
  line-height: 34px;
  padding: 0 10px 0 38px;
  background: $header-input-bg;
  font-weight: 400;
  font-size: 16px;
  border-radius: 3px;
  color: #fff;
  &::-webkit-input-placeholder{
    color: $header-bg;
  }
  &::-moz-placeholder{
    color: $header-bg;
  }
  &:-ms-input-placeholder{
    color: $header-bg;
  }
  &:focus{
    background: $white;
    color: $header-input-focusColor;
    &::-webkit-input-placeholder{
      color: $header-input-focusColor;
    }
    &::-moz-placeholder{
      color: $header-input-focusColor;
    }
    &:-ms-input-placeholder{
      color: $header-input-focusColor;
    }
  }
}
.header__btns{
  position: absolute;
  top: 0;
  right: 0;
  width: 75px;
}
.header__btns__chat{
  width: 26px;
  height: 22px;
  background: url("../img/Services.svg") -627px -13px;
  content: " ";
  position: absolute;
  top: 22px;
  left: 0;
  cursor: pointer;
}
.header__btns__alarm{
  width: 26px;
  height: 24px;
  background: url("../img/Services.svg") -671px -11px;
  content: " ";
  position: absolute;
  top: 20px;
  right: 0;
  cursor: pointer;
}
.header__user-block{
  float: none;
  max-width: 240px;
  display: table-cell;
  padding-left: 25px;
}
.header__user-block__name{
  font: 400 16px/42px 'ProximaNova-Regular';
  color:  #fefefe;
  text-align: left;
  position: relative;
  padding-left: 40px;
  margin-top: 10px;
  display: block;
  span{
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &:hover{
    color: #587b39;
    img{
      border-radius: 50%;
    }
  }
}
.user-avatar{
  position: absolute;
  top: 5px;
  left: 0;
  width: 32px;
  height: 32px;
}

// --------------CONTENT------------------
.content{
  width: $fullScreenWidth;
  background: $white;
}

.row{
  display: block;
}
//------Left block-------

.left-block{
  float: left;
  width: 212px;
}
.content__navigation{
  width: $fullScreenWidth;
}
.content__navigation__list{
  list-style: none;
}
.content__navigation__list__item{
  display: block;
  border-bottom: 1px solid #E0E2E6;
  position: relative;
  height: 52px;
}
.item{
  padding-left: 50px;
  display: block;
  font: 16px/49px 'ProximaNova-Regular';
  color: #59606B;
  &:before{
    content: " ";
    display: block;
    position: absolute;
    top: 11px;
    left: 0;
    width: 28px;
    height: 28px;
    background: url("../img/Services.png") no-repeat 0 -70px;
  }
  &:hover{
    color: #87b448;
  }
}
.item-2{
  &:before{
    background-position: 0 -120px;
  }
}
.item-3{
  &:before{
    background-position: 0 -170px;
  }
}
.item-4{
  &:before{
    background-position: 0 -220px;
  }
}
.content__advertisement{
  border-bottom: 1px solid #e0e2e6;
  padding-bottom: 8px;
}
.grey-txt{
  display: block;
  font: 400 14px/42px 'ProximaNova-Regular';
  color: #7c8695;
  text-align: left;
  float: left;
}
.content__advertisement__img{
  img{
    width: 100%;
    height: auto;
  }
}
.content__advertisement__link{
  margin: 0 0 16px;
  font: 400 11px/42px 'ProximaNova-Regular';
  color: #d3d3d3;
  text-align: left;
  &:hover{
    color: #779bff;
  }
}
.content__featured-companies{
  border-bottom: 1px solid #e0e2e6;
  padding-bottom: 8px;
}
.content__featured-companies__seeAll{
  float: right;
  &:hover{
    color: #87b448;
  }
}
.content__featured-companies__block{
  display: block;
  margin-bottom: 20px;
}
.company-img{
  float: left;
  img{
    width: 80px;
    height: 80px;
    border-radius: 5px;
  }
  &:hover{
    border-radius: 50%;
  }
}
.company-info{
  padding-left: 90px;
  .grey-txt{
    line-height: 20px;
  }
}
.company-info__name{
  font: 400 16px/20px 'ProximaNova-Regular';
  color: #1c2534;
  text-align: left;
  &:hover{
    color: #87b448;
  }
}
.company-info__link{
  font-size: 12px;
  color: #1c2534;
  font-weight: 400;
  a{
    &:hover{
      color: #87b448;
    }
  }
}
.content__footer{
  padding: 20px 0;
  line-height: 20px;
  font-size: 12px;
  span{
    display: block;
  }
  a{
    float: left;
    margin-right: 10px;
    &:visited{
      color: #7c8695;
    }
    &:hover{
      color: #87b448;
    }
  }
}

//------Right block-------

.right-block{
  float: right;
  width: 212px;
}
.user-name{
  margin-bottom: 5px;
}

//------Center block-------

.center-block{
  overflow: hidden;
  padding: 12px 15px;
}
.center-block__header{
  padding-bottom: 20px;
}
.center-block__header__title{
  font: 400 30px/42px 'ProximaNova-Regular';
  color: #1c2534;
  text-align: left;
  float: left;
}
.center-block__header__btn{
  float: right;
  text-align: center;
  padding: 10px 20px;
  font: 400 14px 'ProximaNova-Regular';
  color: #ffffff;
  border-radius: 5px;
  background: #87b448;
  cursor: pointer;
  &:hover{
    background: #97cf55;
    box-shadow: 0 2px 5px #aee857;
  }
}
.categories{
  border: 1px solid #e0e2e6;
  border-radius: 5px;
  padding: 15px 7px;
  overflow: hidden;
  text-align: center;
  list-style: none;
  &:after {
    content:"";
    display:inline-block;
    width:100%;
    height:0;
    overflow:hidden;
  }
}

.category-block{
  margin: 0 8px;
  width: 29.5%;
  height: 200px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  a{
    &:hover{
      .category-block__icon{
        background: #f3f3f3;
      }
      .category-block__title{
        color: #87b448;
      }
    }
  }
}
.category-block__icon{
  width: 140px;
  margin: 0 auto;
  height: 140px;
  border: 1px solid #e0e2e6;
  background: #fff;
  img{
    width: 100%;
  }
}
.category-block__title{
  padding: 15px 0;
  display: block;
  max-width: 140px;
  margin: 0 auto;
  font: 400 13.61px 'ProximaNova-Regular';
  color: #1c2534;
}
