@font-face {
  font-family: 'ProximaNova-Regular';
  src: url("../fonts/proximanova-regular.eot"), url("../fonts/proximanova-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-regular.ttf") format("truetype"), url("../fonts/proximanova-regular.svg") format("svg"), url("../fonts/proximanova-regular.woff") format("woff"), url("../fonts/proximanova-regular.woff2") format("woff2"); }
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

aside, nav, footer, header, section {
  display: block; }

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 970px;
  position: relative;
  width: 100%;
  color: #000; }

body {
  font: 16px/1em 'Arial';
  background: #ebeae7; }

a, a:visited {
  text-decoration: none;
  color: #000000; }

a:hover {
  text-decoration: none; }

img {
  vertical-align: top; }

.clearfix:after {
  content: " ";
  clear: both;
  display: block; }

.wrapper {
  width: 100%; }

.trans {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.container {
  width: 100%;
  max-width: 1440px;
  min-width: 970px;
  margin: 0 auto;
  padding: 0 15px 0; }

.leftside {
  float: none;
  position: relative;
  display: table-cell;
  vertical-align: top;
  width: 100%; }

header {
  width: 100%;
  height: 66px;
  background: #87b448;
  border-bottom: 2px solid #71973c;
  position: relative;
  top: 0;
  left: 0;
  z-index: 100; }

.header__logo {
  width: 130px;
  height: 40px;
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 10; }

.header__logo_img {
  background: url("../img/Services.svg") 0 0;
  width: 100%;
  height: 40px; }

.header__search {
  position: relative;
  width: 100%;
  padding: 0 100px 0 161px;
  margin-top: 17px; }

.header__search__icon:before {
  position: absolute;
  top: 9px;
  left: 173px;
  content: " ";
  width: 16px;
  height: 16px;
  background: url("../img/Services.svg") -172px -15px;
  display: block; }

.header__search__input {
  width: 100%;
  height: 34px;
  line-height: 34px;
  padding: 0 10px 0 38px;
  background: #73993d;
  font-weight: 400;
  font-size: 16px;
  border-radius: 3px;
  color: #fff; }
  .header__search__input::-webkit-input-placeholder {
    color: #87b448; }
  .header__search__input::-moz-placeholder {
    color: #87b448; }
  .header__search__input:-ms-input-placeholder {
    color: #87b448; }
  .header__search__input:focus {
    background: #ffffff;
    color: #1c2534; }
    .header__search__input:focus::-webkit-input-placeholder {
      color: #1c2534; }
    .header__search__input:focus::-moz-placeholder {
      color: #1c2534; }
    .header__search__input:focus:-ms-input-placeholder {
      color: #1c2534; }

.header__btns {
  position: absolute;
  top: 0;
  right: 0;
  width: 75px; }

.header__btns__chat {
  width: 26px;
  height: 22px;
  background: url("../img/Services.svg") -627px -13px;
  content: " ";
  position: absolute;
  top: 22px;
  left: 0;
  cursor: pointer; }

.header__btns__alarm {
  width: 26px;
  height: 24px;
  background: url("../img/Services.svg") -671px -11px;
  content: " ";
  position: absolute;
  top: 20px;
  right: 0;
  cursor: pointer; }

.header__user-block {
  float: none;
  max-width: 240px;
  display: table-cell;
  padding-left: 25px; }

.header__user-block__name {
  font: 400 16px/42px 'ProximaNova-Regular';
  color: #fefefe;
  text-align: left;
  position: relative;
  padding-left: 40px;
  margin-top: 10px;
  display: block; }
  .header__user-block__name span {
    white-space: nowrap;
    text-overflow: ellipsis; }
  .header__user-block__name:hover {
    color: #587b39; }
    .header__user-block__name:hover img {
      border-radius: 50%; }

.user-avatar {
  position: absolute;
  top: 5px;
  left: 0;
  width: 32px;
  height: 32px; }

.content {
  width: 100%;
  background: #ffffff; }

.row {
  display: block; }

.left-block {
  float: left;
  width: 212px; }

.content__navigation {
  width: 100%; }

.content__navigation__list {
  list-style: none; }

.content__navigation__list__item {
  display: block;
  border-bottom: 1px solid #E0E2E6;
  position: relative;
  height: 52px; }

.item {
  padding-left: 50px;
  display: block;
  font: 16px/49px 'ProximaNova-Regular';
  color: #59606B; }
  .item:before {
    content: " ";
    display: block;
    position: absolute;
    top: 11px;
    left: 0;
    width: 28px;
    height: 28px;
    background: url("../img/Services.png") no-repeat 0 -70px; }
  .item:hover {
    color: #87b448; }

.item-2:before {
  background-position: 0 -120px; }

.item-3:before {
  background-position: 0 -170px; }

.item-4:before {
  background-position: 0 -220px; }

.content__advertisement {
  border-bottom: 1px solid #e0e2e6;
  padding-bottom: 8px; }

.grey-txt {
  display: block;
  font: 400 14px/42px 'ProximaNova-Regular';
  color: #7c8695;
  text-align: left;
  float: left; }

.content__advertisement__img img {
  width: 100%;
  height: auto; }

.content__advertisement__link {
  margin: 0 0 16px;
  font: 400 11px/42px 'ProximaNova-Regular';
  color: #d3d3d3;
  text-align: left; }
  .content__advertisement__link:hover {
    color: #779bff; }

.content__featured-companies {
  border-bottom: 1px solid #e0e2e6;
  padding-bottom: 8px; }

.content__featured-companies__seeAll {
  float: right; }
  .content__featured-companies__seeAll:hover {
    color: #87b448; }

.content__featured-companies__block {
  display: block;
  margin-bottom: 20px; }

.company-img {
  float: left; }
  .company-img img {
    width: 80px;
    height: 80px;
    border-radius: 5px; }
  .company-img:hover {
    border-radius: 50%; }

.company-info {
  padding-left: 90px; }
  .company-info .grey-txt {
    line-height: 20px; }

.company-info__name {
  font: 400 16px/20px 'ProximaNova-Regular';
  color: #1c2534;
  text-align: left; }
  .company-info__name:hover {
    color: #87b448; }

.company-info__link {
  font-size: 12px;
  color: #1c2534;
  font-weight: 400; }
  .company-info__link a:hover {
    color: #87b448; }

.content__footer {
  padding: 20px 0;
  line-height: 20px;
  font-size: 12px; }
  .content__footer span {
    display: block; }
  .content__footer a {
    float: left;
    margin-right: 10px; }
    .content__footer a:visited {
      color: #7c8695; }
    .content__footer a:hover {
      color: #87b448; }

.right-block {
  float: right;
  width: 212px; }

.user-name {
  margin-bottom: 5px; }

.center-block {
  overflow: hidden;
  padding: 12px 15px; }

.center-block__header {
  padding-bottom: 20px; }

.center-block__header__title {
  font: 400 30px/42px 'ProximaNova-Regular';
  color: #1c2534;
  text-align: left;
  float: left; }

.center-block__header__btn {
  float: right;
  text-align: center;
  padding: 10px 20px;
  font: 400 14px 'ProximaNova-Regular';
  color: #ffffff;
  border-radius: 5px;
  background: #87b448;
  cursor: pointer; }
  .center-block__header__btn:hover {
    background: #97cf55;
    box-shadow: 0 2px 5px #aee857; }

.categories {
  border: 1px solid #e0e2e6;
  border-radius: 5px;
  padding: 15px 7px;
  overflow: hidden;
  text-align: center;
  list-style: none; }
  .categories:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 0;
    overflow: hidden; }

.category-block {
  margin: 0 8px;
  width: 29.5%;
  height: 200px;
  text-align: center;
  display: inline-block;
  vertical-align: top; }
  .category-block a:hover .category-block__icon {
    background: #f3f3f3; }
  .category-block a:hover .category-block__title {
    color: #87b448; }

.category-block__icon {
  width: 140px;
  margin: 0 auto;
  height: 140px;
  border: 1px solid #e0e2e6;
  background: #fff; }
  .category-block__icon img {
    width: 100%; }

.category-block__title {
  padding: 15px 0;
  display: block;
  max-width: 140px;
  margin: 0 auto;
  font: 400 13.61px 'ProximaNova-Regular';
  color: #1c2534; }

@media screen and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .header__logo_img {
    background-image: url("../img/logo-retina.png"); } }
@media only screen and (min-width: 1140px) {
  .category-block {
    width: 22%; } }
@media only screen and (min-width: 1318px) {
  .category-block {
    width: 18%; } }
@media only screen and (min-width: 1440px) {
  .category-block {
    width: 14.8%; } }

/*# sourceMappingURL=style.css.map */
